@import '../../../styles/color';
@import '../../../styles/typography';

.dashboard-container {
    margin: 15vh 9vh;

    .dashboard-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        .main-progress {
            flex: 0.389;
        }

        .dashboard-box {
            margin-right: 15px;
            opacity: 0.9;
        }

        .first {
            flex: 1.9;
        }

        .second {
            flex: 1.6;
        }

        .three {
            flex: 1.3;

        }
    }
}
