<div class="box-title">{{ title }} WEB TYPES</div>
<div class="box-content box-types">
  <div class="box-type">
    <div class="box-type-left">
      <span class="count-size"> {{webTypes[4].sum}}</span>
      <br>
      ATTACK
      <br>
      INDICATION
    </div>
    <div class="box-type-right">
      <span class="count-size"> {{webTypes[5].sum}}</span>
      <br>
      DATA
      <br>
      LEAKAGE
    </div>
  </div>
  <div class="box-type">
    <div class="box-type-left">
      <span class="count-size"> {{webTypes[2].sum}}</span>
      <br>
      PHISHING
    </div>
    <div class="box-type-right">
      <span class="count-size"> {{webTypes[3].sum}}</span>
      <br>
      BRAND
      <br>
      SECURITY
    </div>
  </div>
  <div class="box-type">
    <div class="box-type-left">
      <span class="count-size"> {{webTypes[0].sum}}</span>
      <br>
      EXPLOITABLE
      <br>
      DATA
      <span class="samll-font">TM</span>
    </div>
    <div class="box-type-right">
      <span class="count-size"> {{webTypes[1].sum}}</span>
      <br>
      VIP
    </div>
  </div>
</div>
