@import '../../../styles/color';
@import '../../../styles/typography';

.risk-meter-container {

    .risk-meter-title {
        height: 24px;
    }

    .risk-meter-progress-wrapper {
        background-color: $background-box-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        padding: 0px 10px;

        .risk-meter-progress-inner {
            width: 100%;
            height: 5px;

            .risk-meter-progress {
                height: 100%;
                background-image: linear-gradient(#203545, #203545), linear-gradient(to right, #419fc3, #e09e25, #c33d3d);
                background-position: right;
                background-repeat: no-repeat;
                border-radius: 10px;
            }
        }

        .sum-risk-meter {
            margin-left: 25px;
        }
    }
}
