<div class="box-title">{{ title }} WEB SOURCES (%)</div>
<div class="box-content box-sources">

  <div class="sources-inner-box" *ngFor="let item of webSources; let i=index;">
    <div class="sources-title">
      {{ item._id.sourceType | addSpaceCapitalLetter | uppercase }}
    </div>
    <div class="progress-sources-wrapper">
      <div class="progress-sources">
        <progress max="100" value="{{item.sum}}"></progress>
      </div>
      <div class="sum-sources">
        {{item.sum}}
      </div>
    </div>
  </div>

</div>
